CompileFlags:
  Add:
    - -D__HIP_PLATFORM_AMD__=1
    - -I/opt/rocm/include
  Compiler: /opt/rocm/llvm/bin/clang++
---
If:
  PathMatch: NPU/.*\.cc
CompileFlags:
  Compiler: /mnt/schoolwork/BeanTensorV4/Compilers/ironenv/lib/python3.10/site-packages/llvm-aie/bin/clang++
  Add:
    - --target=aie2p-none-unknown-elf
    - -std=c++20
    - -DNDEBUG
    - -DNOCPP
    - -I/mnt/schoolwork/BeanTensorV4/Compilers/ironenv/lib/python3.10/site-packages/mlir_aie/include
    - -I/mnt/schoolwork/BeanTensorV4/Compilers/mlir-aie/aie_kernels
---
If:
  PathMatch: .*\.cpp
CompileFlags:
  Add:
    - -D__HIP_PLATFORM_AMD__=1
---
If:
  PathMatch: .*\.hip
CompileFlags:
  Compiler: /opt/rocm/llvm/bin/clang++
  Add:
    - -xc++
    - -D__HIP_PLATFORM_AMD__=1
    - -D__device__=
    - -D__global__=
    - -D__host__=
    - -D__shared__=
  Remove:
    - -x
    - hip
    - --offload-arch=*
    - --hip-link